.placeholder {
  position: absolute;
  color: #303030;
  top: 50%;
  bottom: auto;
  margin: auto;
  left: 20px;
  font-weight: bold;
}
.colorBlack {
  color: black !important;
}
.pointerEventsDisabled {
  pointer-events: none;
}
